* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.ponto {
  color: #ffc700;
}

.ponto-texto {
  color: #ffc700;
  text-transform: capitalize;
  font-style: italic;
}

.container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
